* {
    max-width: 100%;
    
}

body {
    position: relative;
    font-family: "Big Shoulders Inline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.section {
    height: 100vh;
    max-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero {
    background-image: url("../../images/logo/portsmouth.jpg");
}

.hero-title{
    font-size: 10vw;
    text-shadow: 5px 5px rgba(0,0,0,0.75);
    color:orange;
}

#interests {
    background-color: rgb(45, 45, 46);
}

.interests-container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.interests-title{
  
    font-size:10vw;
    font-weight: 800 !important;
    background-color: rgba(255,255,255, 0.5);
    text-decoration: none;
}

.interests-container:hover .interests-title{
    background-color: rgba(255,255,255, 0.7);
    color: orangered;
}

#legoContainer{
    background-image: url("../../images/interests/lego.jpg");
}

#vinylContainer{
    background-image: url("../../images/interests/vinyl.jpg");
}

#travelContainer{
    background-image: url("../../images/interests/barcelona.jpg");
}

#gigsContainer{
    background-image: url("../../images/interests/gig.jpg");
}


#lego {
    background-image: url("../../images/interests/stormtrooper_lego.jpg");
}

#vinyl{
    background-image: url("../../images/interests/vinyl.jpg");
}

#gigs{
  
}
